@font-face {
    font-family: 'Nunito';
    src: url('/src/assets/fonts/Nunito/Nunito-Medium.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito Light';
    src: url('/src/assets/fonts/Nunito/Nunito-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'Nunito Black';
    src: url('/src/assets/fonts/Nunito/Nunito-Black.ttf') format('woff2');
}

.container-padding{
    padding: calc(8px + 1.5625vw);
    max-width: 1800px;
    margin: auto;
}

