footer{
    background-color: #000;
}

.container-footer{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Nunito';

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .adress{
        h6{
            font-size: 16px;
            font-family: 'Nunito Extra Bold';
    
            span{
                display: block;
                background-color: #fff;
                height: 3px;
                width: 35px;
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    
        p{
            font-size: 12px;
            margin-bottom: 30px;
            font-family: 'Nunito Light';
    
            span{
                display: block;
                margin-top: 10px;
            }
        }
    }

   .contact{
        margin-bottom: 30px;
        div{
            padding: 12px;
            border-radius: 5px;
            background-color: #fff;
            color: #000;
            width: 180px;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-evenly;
            font-size: 12px;
            text-transform: uppercase;
            align-items: center;
            cursor: pointer;
        }
   }

   .approval{
        display: flex;
        justify-content: space-around;
        @media screen and (min-width: 1024px) {
            flex-direction: column;
        }
        div{
            position: relative;
            span{
                position: absolute;
                font-size: 8px;
                top: -15px;
            }
        }
   }
}